*
{
	margin:			0 auto;
	text-align:		center;
    font-family:	monospace;
}

body{
	margin-bottom: 13px;
}

h1 {
	color:			green;
    font-weight:	bold;
    border-bottom:	grooe 3px rgba(0,128,0,0.5);
	margin-bottom:	5px;
	margin-top:		20px;
}
h2{
    background-color:	rgba(224,255,224,0.75);
    color:				rgba(0,64,0,0.75);
    border-top:			solid 1px green;
    border-bottom:		dashed 1px white;
	margin-bottom:		3px;
    margin-top:			15px;
}
h3{
    background-color:	rgba(0, 0, 0,0.03);
    border-top:			solid 1px whitesmoke;
    margin-top:			7px;
}